body{background:#000;color:#fff;font-family:Poppins,sans-serif;margin:0}
.topbar{background:#fff;color:#d00;padding:12px;text-align:right;border-bottom:3px solid #d00}
.btn{background:#d00;color:#fff;border:2px solid #fff;padding:10px 15px;cursor:pointer;font-weight:bold;border-radius:8px}
.btn:hover{background:#fff;color:#d00}
.card{background:#111;padding:15px;margin:10px;border-left:4px solid #d00;border-radius:12px;box-shadow:0 0 6px #444;color:#fff}
input,select{padding:10px;width:80%;border:2px solid #d00;border-radius:6px;background:#000;color:#fff}
h1,h2,h3{color:#d00;text-transform:uppercase;font-weight:700}